**/TAGS
INSTALL
test-driver
doc/html/
examples/vmi-dump-memory
examples/event-example
examples/map-addr
examples/map-symbol
examples/vmi-module-list
examples/msr-event-example
examples/vmi-process-list
examples/singlestep-event-example
examples/vmi-win-guid
examples/vmi-win-offsets
examples/interrupt-event-example
examples/step-event-example
examples/va-pages
examples/xen-emulate-response
examples/breakpoint-emulate-example
examples/vmi-dmesg
libtool
libvmi.pc
tests/check_libvmi
tools/linux-offset-finder/.findoffsets.ko.cmd
tools/linux-offset-finder/.findoffsets.mod.o.cmd
tools/linux-offset-finder/.findoffsets.o.cmd
tools/linux-offset-finder/.tmp_versions/
tools/linux-offset-finder/findoffsets.ko
tools/linux-offset-finder/findoffsets.mod.c
tools/linux-offset-finder/modules.order
tools/vmifs/vmifs
libvmi/config/grammar.c
libvmi/config/grammar.h
libvmi/config/lexicon.c
**/*.o
**/*.lo
**/*.Plo
**/*.Po
**/*.Tpo
**/.dirstamp
build
autom4te.cache/*
Makefile
Makefile.in
**/*.a
**/*.la
**/*.lai
**/*.so*
**/*.m4
**/*.save
ltmain.sh
missing
stamp-h1
ylwrap
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
**/.libs/*

# IDE
/.vscode
