**/TAGS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
ylwrap
depcomp
test-driver
doc/html/
examples/.deps/
examples/.libs/
examples/Makefile
examples/Makefile.in
examples/vmi-dump-memory
examples/event-example
examples/map-addr
examples/map-symbol
examples/vmi-module-list
examples/msr-event-example
examples/vmi-process-list
examples/singlestep-event-example
examples/vmi-win-guid
examples/interrupt-event-example
examples/shm-snapshot-process-list
examples/step-event-example
examples/va-pages
examples/xen-emulate-response
install-sh
libtool
libvmi.pc
libvmi/.deps/
libvmi/.libs/
libvmi/Makefile
libvmi/Makefile.in
libvmi/arch/.deps/
libvmi/arch/.dirstamp
libvmi/arch/.libs/
libvmi/config/.deps/
libvmi/config/.libs/
libvmi/config/Makefile
libvmi/config/Makefile.in
libvmi/config/grammar.c
libvmi/config/grammar.h
libvmi/config/lexicon.c
libvmi/config/libconfig.la
libvmi/driver/.deps/
libvmi/driver/.dirstamp
libvmi/driver/.libs/
libvmi/libvmi.la
libvmi/os/.deps/
libvmi/os/.dirstamp
libvmi/os/.libs/
libvmi/os/linux/.deps/
libvmi/os/linux/.dirstamp
libvmi/os/linux/.libs/
libvmi/os/windows/.deps/
libvmi/os/windows/.dirstamp
libvmi/os/windows/.libs/
ltmain.sh
m4/
missing
stamp-h1
tests/.deps/
tests/.libs/
tests/Makefile
tests/Makefile.in
tests/check_libvmi
tools/vmifs/.deps/
tools/vmifs/.libs/
tools/vmifs/Makefile
tools/vmifs/Makefile.in
tools/vmifs/vmifs
tools/linux-offset-finder/.findoffsets.ko.cmd
tools/linux-offset-finder/.findoffsets.mod.o.cmd
tools/linux-offset-finder/.findoffsets.o.cmd
tools/linux-offset-finder/.tmp_versions/
tools/linux-offset-finder/findoffsets.ko
tools/linux-offset-finder/findoffsets.mod.c
tools/linux-offset-finder/modules.order
*.o
*.lo
.dirstamp
.deps
