name: container-compile
on:
  pull_request:
    branches: [ master ]
jobs:
  compile:
    strategy:
      matrix:
        container:
          - 'debian:bullseye-slim'
          - 'debian:bookworm-slim'
        compiler:
          - 'gcc'
          - 'clang'

    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.container }}

    steps:
    - name: Install dependencies
      if: startsWith(matrix.container,'debian') || startsWith(matrix.container,'ubuntu')
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        apt-get update -q
        apt-get install -y autoconf-archive flex bison libjson-c-dev libxen-dev libvirt-dev libfuse-dev clang build-essential cmake git libtool autotools-dev libglib2.0-dev
        apt-get clean

    - name: Install libkvmi
      if: startsWith(matrix.container,'debian') || startsWith(matrix.container,'ubuntu')
      run: |
        git clone --depth=2 https://github.com/libvmi/libkvmi
        cd libkvmi
        ./bootstrap
        ./configure
        make
        make install
        cd ..
        rm -rf libkvmi

    - uses: actions/checkout@v3

    - name: Compile (autotools)
      env:
        CC: ${{ matrix.compiler }}
        CONTAINER: ${{ matrix.container }}
      run: |
        while IFS= read -r options; do
          echo "Building with '$options'"
          autoreconf -vif
          ./configure $options
          make
          make clean
          echo "Done building with '$options'"
        done < .github/configure_options.txt
